.estimate-table {
  width: calc(100% - 100px);
  border: 1px solid #ececee;
  border-collapse: collapse;
  margin: 0 auto;

  th {
    font-size: 14px;
  }

  th,
  td {
    border: 1px solid #ececee;
    background-color: #ffffff;
  }

  &--menu {
    &__list {
      position: absolute;
      z-index: 3;
      width: 200px;
      background: #ffffff;
      border: 1px solid #96979b;
      border-radius: 2px;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        border-bottom: 1px solid #96979b;
        cursor: pointer;
      }
    }

    &__button {
      display: block;
      width: 10px;
      height: 10px;
      background-color: #96979b;
      position: absolute;
      border-radius: 1px;
      cursor: pointer;
    }
  }

  &--column {
    &__number {
      width: 48px;
      position: relative;

      .estimate-table--menu {
        &__list {
          top: 0;
          transform: translateY(calc(calc(100% / -2) + 24px));
        }

        &__button {
          top: 50%;
          transform: translate(-200%, -50%);
        }
      }
    }

    &__department {
      width: 200px;
      position: relative;

      .estimate-table--menu {
        &__button {
          top: 0;
          left: 50%;
          transform: translate(-50%, -200%);
        }

        &__list {
          top: 0;
          transform: translateY(-5px);
        }
      }
    }

    &-disable {
      background-color: #96979b !important;
    }
  }

  &--input {
    width: 100%;
    height: 48px;
    border: none;
    font-size: 24px;
    text-align: center;

    &-disable {
      background-color: #96979b !important;
    }
  }

  &--row {
    height: 48px;

    &-disable {
      td {
        background-color: #96979b !important;
      }
    }

    &__discount {
      td,
      input {
        background-color: #e0f7ef;
      }
    }

    &__fees {
      td,
      input {
        background-color: #e7f6fd;
      }
    }

    &__taxes {
      td,
      input {
        background-color: #feeeee;
      }
    }

    &__total {
      td,
      input {
        background-color: #2f3778;
        color: #fbfcfe !important;
      }
    }
  }
}
